.button {
    background: $purple;
    border: none;
    border-radius: 3px;
    color: #ffffff;
    display: inline-block;
    padding: $m-size;
    font-weight: 300;
    font-size: $font-size-large;   
    line-height: 1;
    text-decoration: none; 
    :focus {outline:0;}
}

.button--link {
    background: none;
}

.button--secondary{
    background: #888888;
}