.content-container{
    margin: 0 auto;
    max-width: 80rem;
    padding: 0 $m-size;
    color: $light-purple;
    text-align: center;

    h1 {
        font-size: $font-size-xlarge; 
        padding: $l-size 0 $m-size 0;
    }
}

.box-main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-main__box{
    background: none;
    padding: $l-size;
    text-align: center;
    width: 28rem;
}

.box-main__title{
    margin: 0 0 $m-size 0;
    line-height: 1;
}