// colors
$dark-grey: #333333;
$grey: #666666;
$dark-blue: #364051;
$blue: #1c88bf;
$off-white: #f7f7f7;
$purple: #8357c5;
$light-purple: #d175e5;

// font-size:
$font-size-xlarge: 3.6rem;
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;

//spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;